.task {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1a171d;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.task-item {
  color: #f8f8f8;
  font-weight: 500;
  font-size: 18px;
}
.tag-item {
  background-color: #f3aa4e;
  border-radius: 15px;
  padding: 7px;
  color: #131213;
  font-weight: 500;
}
.error-msg {
  color: #f8f8f8;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
