.tag {
  list-style: none;
  background-color: transparent;
}

button {
  margin: 20px;
  color: white;
  border-color: #f3aa4e;
  border-radius: 15px;
  background-color: transparent;
  padding: 10px;
  border-width: thin;
}
.active {
  color: #f3aa4e;
}
